<div class="icon-bar">
    <div class="icon-container">
        <div class="progress-icon"><span><i class="pr-lion"></i></span></div>
        <span class="text-futura">Avatar</span>
    </div>
    <div class="icon-container">
        <div class="progress-icon"><span><i class="pr-user-bar"></i></span></div>
        <span class="text-futura">Perfil</span>
    </div>
    <div class="icon-container">
        <div class="progress-icon"><span><i class="pr-group"></i></span></div>
        <span class="text-futura">Contactos</span>
    </div>
    <div class="icon-container">
        <div class="progress-icon"><span><i class="pr-school"></i></span></div>
        <span class="text-futura">Colegio</span>
    </div>
</div>
<div class="progress-bar">
    <div class="progress" style="width: {{progress}}">
    </div>
</div>
