.split-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-column {
  flex: none;
  max-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease;
  padding: 20px;
  transform: scale(1.02);
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    height: 30px;
    width: auto;
  }
}

.right-column {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 16px;
  box-sizing: border-box;
}

.login{
  text-align: center;
}

@media (min-width: 600px) {
  .split-container {
    flex-direction: row;
  }

  .content{
    img{
      height: auto;
    }
  }

  .left-column {
    flex: 0 0 40%;
    margin-top: 0;
    max-height: 100%;
  }

  .right-column {
    padding: 16px;
  }

  .login {
    width: 380px;
  }
}

.login > h2 {
  color: #222222;
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 4px;
}

.login > h3 {
  color: #545454;
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 16px;
}

.login-form {
  display: grid;
  gap: 16px;
  place-items: center;
  width: 100%;
  margin: 0;
}

.textbox {
  width: 100%;
  position: relative;
  color: #222222;
}

.animate-transition {
  transition: opacity 0.5s ease;
}