.icon-hover:hover mat-icon {
  display: block;
}

.small-button {
  font-size: 10px; /* Tamaño de fuente */
  padding: 2px; /* Espaciado interno */
  /* Otros estilos personalizados, como el color de fondo o el color del texto */
}

/* styles.css o styles.scss */
.mat-form-field {
  font-size: 11px; /* Cambia el tamaño de fuente según tus preferencias */
  width: 70px; /* Cambia el ancho según tus preferencias */
}

.mat-input-element {
  padding: 8px 12px; /* Cambia el relleno según tus preferencias */
}
