<app-profile-header [avatarUrl]="avatarUrl" [title]="pageTitle" [progressWidth]="progress"></app-profile-header>

<div class="body-profile">
    <div class="container-profile">
        <p class="description-profile text-futura">Dinos cuál es tu animal favorito. Éste será tu avatar para moverte en la
            jungla.</p>

        <form [formGroup]="form" class="form-group" (ngSubmit)="next()">
            <app-select-autocomplete
                    label="Avatar"
                    [control]="form.get('avatar')"
                    [required]="true"
                    [listOptions]="avatarSelect"
            >
            </app-select-autocomplete>

            <button [disabled]="!form.valid" type="submit" mat-button color="primary" class="text-futura">
                Siguiente
            </button>
        </form>
    </div>
</div>
